<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="oppgave13-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <select id="type" on-change="typeChanged">
      <option value="length">Lengde</option>
      <option value="temp">Temperatur</option>
    </select>
    <select id="conversion" on-change="convChanged">
      <option value='km2m'>km til miles</option>
      <option value='m2km'>miles til km</option>
    </select><br>
    <input type="number" value="{{origin::input}}"/> -> <input type="text" value="[[calculated]]"/>
  </template>

  <script>
    Polymer({

      is: 'oppgave13-app',

      properties: {
        calculated: {
          type: String,
          computed: 'calculate(origin)'
        }
      },
      calculate: function (origin) {
        if (this.$.conversion.selectedOptions[0].value=="ctof") {
          return (origin*9/5+32).toFixed(2);
        } else if (this.$.conversion.selectedOptions[0].value=="ftoc") {
          return ((origin*1-32)*5/9).toFixed(2);
        } else if (this.$.conversion.selectedOptions[0].value=="km2m") {
          return (origin/1.609344).toFixed(2);
        } else if (this.$.conversion.selectedOptions[0].value=="m2km") {
          return (origin*1.609344).toFixed(2);
        }
      },
      typeChanged: function (e) {
        console.log (e);
        if (e.target.selectedOptions[0].value=="temp") {
          this.$.conversion.innerHTML = "";
          this.$.conversion.innerHTML += "<option value='ctof'>C til F</option>";
          this.$.conversion.innerHTML += "<option value='ftoc'>F til C</option>";
        } else if (e.target.selectedOptions[0].value=="length") {
          this.$.conversion.innerHTML = "";
          this.$.conversion.innerHTML += "<option value='km2m'>km til miles</option>";
          this.$.conversion.innerHTML += "<option value='m2km'>miles til km</option>";
        }
        var tmp = this.origin;
        this.origin = "";
        this.origin = tmp;
      },
      convChanged: function (e) {
        var tmp = this.origin;
        this.origin = "";
        this.origin = tmp;
      }
    });
  </script>
</dom-module>
