<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>oppgave13</title>
    <meta name="description" content="oppgave13 description">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="/manifest.json">

    <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="/src/oppgave13-app/oppgave13-app.html">
  </head>
  <body>
    <template is="dom-bind">
      <input type="text" value="{{name::input}}"/>
      <h1>Hei [[name]]</h1>
    </template>
    <hr/>
    <oppgave13-app></oppgave13-app>
  </body>
</html>
